
.testtag-controller:not(:checked) ~ * .column.tag-software-desktop {

    animation: hidetag 2s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.testtag-controller:checked ~ * .column.tag-software-desktop {
    animation: showtag 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hidetag {
    0% {opacity: 100%; width: calc(100% / 6); display: block; }
    1% {opacity: 100%; width: calc(100% / 6); display: block; }
    50% {opacity: 0%; width: calc(100% / 6); display: block; } /* Invisible, but still full width */
    51% {opacity: 0%; width: calc(100% / 6);} /* Now start changing width */
    99% {opacity: 0%; width: 1px; } /* 1px is as low as we can go */
    100% {opacity: 0%;width: 1px;  display: none; } /* Now remove element completely */
}
@keyframes showtag {
    0% {opacity: 0; width: 1px; display: none;}
    1% {opacity: 0;width: 1px;}
    50% {opacity: 0%; width: calc(100% / 6);}
    99% {opacity: 100%;}
    100% {opacity: 100%; width: calc(100% / 6); display: block;}
}
